/**
 * @name arc
 * @author seventeenbloodyblades
 * @version 2.5.4
 * @description emo punk!
 * @source https://github.com/arcatrine/arc
*/

/* ———————————————————————————————————————————————————————————————
ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　　　　　　　　　　　 　 .∥
ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　　　　　　　　　　　 　 .∥
　 　 ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　 　 　　　＿__　　 .∥        
　　　　ㅤ　ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　 ／　　　 ｀ヽ ∥
ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　　　　　 ,:'　　　　　　､ゑ        by arcatrine // @seventeenbloodyblades
ㅤㅤㅤㅤㅤㅤㅤ　ㅤ　ㅤㅤㅤ　　　,'　　 　;　　i　 八､
ㅤㅤㅤ　ㅤㅤㅤㅤㅤㅤㅤㅤ　　　　|,! 、 ,! | 　,' ,〃ヽ!;､ 　　
ㅤㅤㅤ　　ㅤㅤㅤㅤㅤㅤㅤㅤ 　 　|!| ｌ川 l ﾘへ'==二二ト､ 　
　　ㅤㅤㅤㅤㅤㅤ　ㅤ　ㅤㅤㅤㅤ　ﾘ川 !| i′　 ﾞ､　　　　', ', 　
　ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　ㅤ　　　lﾙl ||,ﾚ′　　 ヽ　　　,ﾉ ,〉　
　　ㅤㅤㅤㅤㅤㅤ　ㅤㅤㅤㅤㅤ　 　 |川'、　 ,,.,.r'"　 　 ,,ンﾞ 　
　　　　ㅤㅤㅤㅤㅤㅤ　ㅤㅤㅤㅤㅤ　　　｀T"　 ! ,/ '.ﾉ,/｜　 　
　　　　　　ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　　 / 　 ,!´　!ﾞヾ{　|
ㅤㅤㅤㅤ　 　 　 　ㅤㅤㅤ 　ㅤㅤㅤㅤ　/ 　 ,' 　 i　ﾞ　! ,lﾞ
　　ㅤㅤㅤㅤ　　ㅤㅤㅤㅤㅤㅤㅤ　　,r‐'ヽ-､!　　 ',　　l｜　
ㅤㅤㅤㅤ　ㅤㅤㅤㅤㅤㅤ　　　ㅤ　 {　　　 ｀ヽ　　 !　 ｢ﾞﾌ 　　
　 　ㅤㅤㅤㅤ　ㅤㅤㅤㅤㅤㅤㅤ　　,>┬―／　　 ;　 i,｀{ 　　
ㅤㅤㅤ　ㅤㅤㅤㅤㅤㅤㅤ　ㅤ　　　/ /ﾘ川'　 　 　 　 ', ﾞ､
　　ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　 ／ ,/　　　 　 　 　 　 ﾞ､ ﾞ、 　
ㅤㅤㅤ　ㅤㅤㅤㅤㅤㅤㅤㅤ　 ノ 　/　　　　　　　　　　　', ｀､ 　
　ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　 ＼_/　　 ;　　　　　　　　　 ﾞ、ヽ、
　　ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ　　l__　　 !　　　　　　　 _＿_〕
　　　ㅤㅤㅤㅤㅤㅤㅤㅤ　ㅤㅤㅤ　 ￣｀‐┬―r┬‐r'´　｀'‐'′
　　 　 　 ㅤㅤㅤㅤㅤㅤㅤㅤ　ㅤㅤㅤ 　　|　　.! |　 |
　　 　 　 　 　ㅤㅤㅤㅤㅤㅤㅤㅤ　ㅤㅤㅤ|　　| .|　 |
*/

/* cool titlebar */ 
@import url(//dablulite.github.io/css-snippets/BetterTitlebar/import.css);
/* little fixes lol */
@import url(https://raw.githubusercontent.com/lumap/css-snippets/main/make-bios-long.css);
@import url(https://raw.githubusercontent.com/lumap/css-snippets/main/double-row-badges-fix.css);
@import url("https://minidiscordthemes.github.io/Snippets/RoleTint/RoleTint.css");
/* tabsv2 port from mobile app */
@import url(https://raw.githubusercontent.com/Panniku/vc-snippets/main/tabsv2_desktop.css);
/* nyancat server boost progressbar */
@import url(https://anubisnekhet.github.io/discordCSS/nyantro-updated.css);
:root {
    --settingsicons: 1;
    --si-size: 18px;
    --si-gap: 14px;
}

:root {
    --font-primary: 'Inter';
    --font-display: var(--font-primary);
    --font-headline: var(--font-primary);
    --font-code: 'JetBrains Mono'
}

/* icon role will be on the left */
[class*="roleIcon"] {
    float: left;
    margin-left: 0rem;
    margin-right: .35rem;
}

/* removes 'message user' field in profile popout */
[class*="inputWrapper"][class*="messageInputContainer"] {
    display: none;
}

[class*=memberSinceContainer-] {
    margin-bottom: 14px;
}

/* bigger emojis */
.emoji.jumboable {
    /* default: 96px, anything higher will be blurry */
    width: 64px;
    height: 64px;
}

/* hide chat buttons if discord window very small */

.chatContent-3KubbW {
    container-type: inline-size;
    container-name: chat;
}

@container chat (max-width: 500px) {
    .chatContent-3KubbW .buttons-uaqb-5 {
        display: none;
    } 
}

/* add red color on the 'danger' buttons on context menu */
#user-context-close-dm, #user-context-remove-friend, #user-context-block { color: var(--status-danger) }
#user-context-close-dm:active, #user-context-remove-friend:active, #user-context-block:active {
    background-color: var(--red-500)!important;
    color: var(--white-500)!important;    
}
#user-context-close-dm[class*="focused-"], #user-context-remove-friend[class*="focused-"], #user-context-block[class*="focused-"] {
    background-color: var(--button-danger-background);
    color: var(--white-500);   
}

/* rounded user panel */
[class^="sidebar_"] [class^="panels_"] {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1px solid var(--background-modifier-accent);
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}

[class^="sidebar_"] [class^="panels_"] [class^="container_"],
[class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
  background: transparent !important;
}

[class^="sidebar_"] [class^="panels_"] [class^="container_"] [class^="avatarWrapper_"] + [class^="flex_"] {
  margin-left: -10px;
}

#vc-spotify-player {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* also green spotify progress bar */
#vc-spotify-player [class^="barFill__"]
{
  background:var(--spotify)
}



/* Nitro Theme Shit */
html.custom-theme-background [class^="sidebar_"] {
    background: var(--bg-overlay-3);
}
html.custom-theme-background [class^="sidebar_"] [class^="panels_"] {
    background: var(--bg-overlay-1);
}

/* proflies bugfix */
.userPopoutOverlayBackground-3A0Pcz {
  max-height: 60vh;
}

/* Match channel text area to user container */
.form__13a2c {
  padding: 0;
}

.channelTextArea__2e60f {
  margin: 0;
}

.scrollableContainer__33e06 {
  border-radius: 0;
}

.inner__9fd0b {
  min-height: 48px;
  padding-top: 4px;
}

/* Move typing indicators */
.typing__6fd1d {
  top: -24px;
  left: 0px;
  width: fit-content;
  padding-right: 9px;
  border-radius: 0 8px 0 0;
  background: var(--bg-overlay-3,var(--channeltextarea-background));
}

/* Remove single pixel padding from user container */
.container_ca50b9 {
  margin: 0;
}
/* End Match channel text area to user container */

/* Make jump to present/jump to original/mark as read bars smaller and hug the right */
.barBase__4e0ba {
  width: fit-content;
  margin-left: auto;
}
/* End make jump to present/jump to original/mark as read bars smaller and hug the right */

/* shows masked links */
.anchor_c8ddc0[title$=")"]::after {
    font-size: 0.7rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.4);
}

/* sneg in titlebar and serverlist /// s novim godom!!! */
[class^=bg_] {
  background: url("https://raw.githubusercontent.com/coolesding/shiggycord/v3/img/snow.gif") !important; /* You can use any GIF/PNG/JPEG Link */
  background-repeat: repeat; /* Adjust if needed (depending on media used) */
}
/* Additional Transparency */
[class^=childWrapper_], /* Discord Home Icon */
[class*=guilds_], /* Guild List Bar */
[class^=circleIconButton_],  /* Add Server and Server Discovery */
[class^=scroller_],  /* Overrides Nitro Themes (for Guild List) */ 
[class^=typeWindows_], /* Overrides Nitro Themes (for Title Bar) */
[class^=folder_], [class^=folderIconWrapper_], [class^=expandedFolderBackground_] /*Folders*/ 
{
  background: none !important;
}

/* Additional Recolouring */
[class^=wordmarkWindows_], /* "Discord" Text */
[class^=winButton], /* Close Discord Button" Text */
[class^=circleIcon_] /* Add Server and Server Discovery SVG'S */ {
    color: #ffffff;
}

/* Cleanup */
body, #app-mount/* Overrides Gradient (for Title Bar */ {
  background: var(--background-tertiary) !important;
}

/* oneko wave button */
.welcomeCTASticker_ee7523 .assetWrapper_f2e406 .lottieCanvas__86b06 {
    display: none;
}
.welcomeCTASticker_ee7523 .assetWrapper_f2e406 {
    transform: scale(80%);
    background-image: url(https://raw.githubusercontent.com/vencordcss/onekocord/main/onekoskins/default.png);
    animation: alert 1s infinite;
    image-rendering: pixelated;
    width: 32px !important;
    height: 32px !important;
}
@keyframes alert {
    0%,
    50% {
        background-position: -224px -96px;
    }
    50.00001%,
    100% {
        background-position: -96px -96px;
    }
}
